@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="header pb-5">
    <h1 class="pt-5"> Kattraser </h1>
    <p class="px-5"> Katter kommer i många storlekar och former, med cirka 40 olika raser att välja mellan. <br>Här har du de mest populära!</p>
</div>

<div class="cards py-5">
        @{
    	var selection = Umbraco.Content(Guid.Parse("472ff67d-3b87-4cfe-9d0b-110d0d1af647"))
        .Children()
        .Where(x => x.IsVisible());
    }
    <div class="row">
    	@foreach (var item in selection)
    	{
    		<div class="col-md-4">
    		    <div class="card mb-4 box-shadow">
    		        <div class="card-image">
    		            @item.Value("content")
    		        </div>
    		        <div class="card-text pb-3">
    		            <a href="@item.Url()">@item.Name()</a>
    		        </div>
    		    </div>
    		</div>
    	}
    </div>
</div>